{% extends 'content/base.html' %}
{% block content %}
    <div class="container d-flex justify-content-center">
        <div class = "text-center">
            <div class="card mb-4 box-shadow" style="max-width: 36rem;">
                <div class="card-header">
                    <h3 class="my-0 font-weight-normal">Проверка номера телефона</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <input type="text" name="nick_name" placeholder="Введите ваш никнейм"><br><br>
                        <input type="text" name="token" placeholder="Введите ваш код из SMS"><br><br>
                        <button type="submit" class="btn btn-outline-primary">
                            Проверить
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}